.flex {
  display: flex;
  &.cols {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
  }
  &.alignCenter {
    align-items: center;
  }
  &.rowgap85 {
    row-gap: 85px;
  }
  &.colgap20 {
    column-gap: 20px;
  }
}
.padding-top-bottom {
  padding: 20px 0px;
}
.box {
  border: 1px solid black;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.w75 {
  width: 75%;
}
.padding25 {
  padding: 25px;
}
.h75p {
  height: 75%;
}
.h5em {
  height: 5em;
}
.h10p {
  height: 20%;
}
.font5em {
  font-size: 5em;
}
.borderRight {
  border-right: 1px solid black;
}
