.flex {
  display: flex;
  &.cols {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
  }
  &.alignCenter {
    align-items: center;
  }
  &.rowgap85 {
    row-gap: 85px;
  }
  &.colgap20 {
    column-gap: 20px;
  }
}
.padding-top-bottom {
  padding: 20px 0px;
}
.box {
  border: 1px solid black;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.padding25 {
  padding: 25px;
}
.h50p {
  height: 50%;
}
.h18em {
  height: 18em;
}
.h1em {
  height: 1em;
}
.h3em {
  height: 3em;
}
.h4em {
  height: 4em;
}
.borderRight {
  border-right: 1px solid black;
}
