.mat-mdc-dialog-surface {
  background-color: black;
  border: 2px solid green;
  h2 {
    color: green;
  }
}
.mdc-button__label {
  color: black;
}
.mdc-button.mdc-button--unelevated.mat-mdc-unelevated-button {
  background-color: lightgreen;
}
